// $yellow-primary: #ffa037;

// $grey-primary: #666;
// $green-color: #00ad5f;
// $red-color: #ff5f3d;
// $grey-background: #f2f2f2;

$yellow-primary: #ffc000;
$black-title :#333;
$grey-primary : #666;
$grey-color : #999;