/* Montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat/Montserrat-Light.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat Regular';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat/Montserrat-Regular.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat Regular Italic';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/montserrat/Montserrat-Italic.ttf'); /* IE9 Compat Modes */
}
@font-face {
    font-family: 'Montserrat Medium';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat/Montserrat-Medium.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/montserrat/Montserrat-SemiBold.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat Bold Italic';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/montserrat/Montserrat-BoldItalic.ttf'); /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Montserrat ExtraBold';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/montserrat/Montserrat-ExtraBold.ttf'), /* IE9 Compat Modes */
}
@font-face {
  font-family: 'Montserrat Black';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/montserrat/Montserrat-Black.ttf'), /* IE9 Compat Modes */
}

@font-face {
  font-family: 'Muli Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/muli/Muli-Regular.ttf'); /* IE9 Compat Modes */
}

@font-face {
font-family: 'Muli ExtraBold';
font-style: normal;
font-weight: 800;
src: url('../fonts/muli/Muli-ExtraBold.ttf'); /* IE9 Compat Modes */
}