.projects {
    .projects-slider {
        margin-bottom: 103px;
    }
}
.projects-slider {
    padding-left: 15px;
    padding-right: 15px;
    .item {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.work-experience-info {
    padding-left: 30px;
    margin-top: -10px;
    h2 {
        color: $grey-color;
        width: 50%;
        line-height: 1.27;
        margin-bottom: 45px;
    }
    .experience-list {
        li {
            margin-bottom: 37px;
            &:last-child {
                margin-bottom: 0px;
            }
        }
        .job-title {
            text-transform: uppercase;
            display: block;
            padding-top: 7px;
            padding-bottom: 16px;
            font-family: 'Montserrat Medium';
        }
    }
}
.work-experience-img {
    padding-left: 25px;
    padding-bottom: 25px;
    position: relative;
    img {
        width: 100%;
    }
    &:after, &:before {
        position: absolute;
        content: '';
        background-position: center center;
        background-repeat: repeat;
        background-image: url('../images/bg-pattern-1.png');
        background-color: #f9f9f9;
        opacity: 0.15;
    }
    &:after {
        height: 25px;
        width: calc(100% - 47px);
        left: 25px;
        bottom: 0
    }
    &:before {
        width: 25px;
        height: calc(100% - 25px);
        left: 0;
        top: 25px;
    }
}