// Silde Show
.slideshow {
    margin-bottom: 150px;
}
.slideshow-title {
    background: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Montserrat Medium';
}
.slideshow-desc {
    font-family: 'Montserrat Bold';
}
.slideshow-btn {
    position: relative;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-family: 'Montserrat SemiBold';
    letter-spacing: 2px !important;
    &:after {
        position: absolute;
        content: '\f301';
        font-family: 'Material-Design-Iconic-Font';
        width: 60px;
        height: 104%;
        left: 100%;
        top: -1px;
        border: 1px solid #fff;
        @extend display-flex;
        @include justify-content(center);
        @include align-items(center);
        font-size: 22px;

    }
    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: transform 0.15s, 0.15s border-radius 0.15s;
        opacity: 0;
        background: $yellow-primary;
        transform: scale(0.1, 0.1);
        z-index: -1;
        border-radius: 50%;
    }
    &:hover {
        &:before {
            opacity: 1;
            transform: scale(1, 1);
            border-radius: 0;
        }
        &:after {
            background: $yellow-primary;
        }
    }
}

.wrap-scroll-slider1 {
    position: absolute;
    width: 100%;
    bottom: 30px;
    left: 0;
    z-index: 999;
    .scroll-slider1 {
        width: 27px;
        height: 42px;
        background-color: transparent;
        border: 2px solid #fff;
        border-radius: 15px;
        padding-top: 11px;
        @extend display-flex;
        @include justify-content(center);
        @include transition(all 0.4s);
        position: relative;
        &:before {
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            background-color: #fff;
            @include border-radius(50%);
            top: 50%;
            position: absolute;
            @include transform(translateY(-50%));
            @include transition(all 0.4s);
        }
        &:hover {
            &:before {
                @include transform(translateY(8 px));
            }
        }
    }
}

.slideshow {
    position: relative;
    overflow: hidden;
    .tp-bullets {
        height: 130px !important;
        .tp-bullet {
            width: 8px;
            height: 8px;
            background: transparent;
            border: 1px solid #fff;
            &:after, &:before {
                content: '';
                position: absolute;
                width: 6px;
                height: 6px;
                opacity: 0;
                border: 1px solid #fff;
                -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                transition: transform 0.3s, opacity 0.3s;
                -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
                transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
                z-index: 999;
            }
            &:before {
                top: -16px;
                right: 4px;
                border-width: 1px 1px 0 0;
                -webkit-transform: translate3d(10px, 10px, 0);
                transform: translate3d(10px, 10px, 0);
            }
            &:after {
                left: 4px;
                bottom: -16px;
                border-width: 0 0 1px 1px;
                -webkit-transform: translate3d(-10px, -10px, 0);
                transform: translate3d(-10px, -10px, 0);
            }
            .bullet-arrow {
                width: 100%;
                height: 100%;
                position: relative;
                &:before, &:after {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    opacity: 0;
                    border: 1px solid #fff;
                    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                    transition: transform 0.3s, opacity 0.3s;
                    -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
                    transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
                    z-index: 99;
                }
                &:before {
                    right: -2px;
                    bottom: -2px;
                    border-width: 0 1px 1px 0;
                    -webkit-transform: translate3d(10px, 10px, 0);
                    transform: translate3d(10px, 10px, 0);
                }
                &:after {
                    right: -10px;
                    bottom: -10px;
                    border-width: 1px 0 0 1px;
                    -webkit-transform: translate3d(-10px, -10px, 0);
                    transform: translate3d(-10px, -10px, 0);
                }
            }
        }
        .tp-bullet.selected {
            background: #fff;
            width: 6px;
            height: 6px;
            &:after, &:before , .tp-bullet-title {
                opacity: 1;
            }
            .bullet-arrow {
                &:after, &:before  {
                    opacity: 1;
                }
            }
        }
    }
    .tp-bullet-title {
        font-size: 13px;
        font-family: 'Montserrat Regular Italic';
        color: #fff;
        position: absolute;
        left: -60px;
        top: -7px;
        opacity: 0;
        padding-right: 16px;
        &:after {
            position: absolute;
            content: '';
            width: 20px;
            height: 1px;
            background: rgba(255,255,255,0.5);
            top: 50%;
            right: -12px;
            transform: translateY(-50%);
        }
    }
}
.slideshow-socials {
    position: absolute;
    left: 59px;
    top: 50%;
    @include transform(translateY(-50%));
    z-index: 999;
    ul {
        // @include transform(rotate(-180deg));
        li {
            -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
            transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
            height: 61px;
            a {
                color: #fff;
                font-size: 15px;
                &:hover {
                    text-decoration: line-through;
                }
            }
        }
    }
}

.year-experience {
    margin-bottom: 145px;
    @extend display-flex;
    @include align-items(center);
    .year-experience-number {
        font-size: 250px;
        font-family: 'Montserrat ExtraBold';
        background: url('../images/background-number.jpg') no-repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        line-height: 185px;
        padding-right: 30px;
        position: relative;
        &:after {
            pointer-events: none;
            position: absolute;
            z-index: -1;
            content: '';
            top: 115%;
            left: 50%;
            height: 15px;
            width: 50%;
            @include transform(translateX(-50%));
            // opacity: 0;
            background: -webkit-radial-gradient(ellipse at center, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0) 70%);
            background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.09) 0%, rgba(0, 0, 0, 0) 70%);
            transition: all 0.6s ease 0s;
            z-index: 99;
        }
    }
    .year-experience-content {
        .year-experience-title {
            font-size: 30px;
            font-family: 'Montserrat Bold';
            color: $black-title;
            line-height: 1.4;
            padding-bottom: 15px;
        }
        span {
            font-size: 18px;
            font-family: 'Montserrat Medium';
            text-transform: uppercase;
            color: $grey-color;
        }
    }
}

.progress-bar {
    background-color: transparent;
    color: $black-title;
    font-family: 'Muli Regular';
}
.progress-box {
    padding-bottom: 75px;
    max-width: 556px;
}
.au-progress {
    position: relative;
    // max-width: 556px;
    background-color: transparent;

    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #e5e5e5;
        background-image: url('../images/bg-pattern-1.png');
        background-repeat: repeat;
        background-position: center center;
        opacity: 0.2;
        z-index: -1;
    }
    .au-progress-bar {
        background: $yellow-primary;
        height: 7px;
        width: 0;
        @include transition(1s all);
        position: relative;
        z-index: 999;
        opacity: 1;
        &:after {
            position: absolute;
            content: '';
            width: 1px;
            height: 24px;
            right: 0;
            bottom: 100%;
            background: $yellow-primary;
        }
        p,span {
            position: absolute;
            top: -32px;
            font-size: 17px;
        }
        p {
            left: 0;
            
        }
        span {
            right: 10px;
        }
    }
}
  
.year-experience-image {
    padding-left: 45px;
}
.gallery-mansory {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3.38fr 1.56fr 3.96fr 1fr;
    .grid-item {
        width: 100%;
        &:first-child {
            grid-area: 1 / 1 / span 1 / span 2;
        }
        &:nth-child(2) {
            grid-area: 1 / 3 / span 1 / span 2;
        }
        &:nth-child(3) {
            grid-area: 2 / 1 / span 1 / span 1;
        }
        &:nth-child(4) {
            grid-area: 2 / 2 / span 1 / span 2;
        }
        &:nth-child(5) {
            grid-area: 2 / 4 / span 1 / span 1;
        }
    }
}
.filter-projects {
    @extend list-type-ulli;
    margin-bottom: 40px;
    li {
        span {
            // font-family: 'Roboto Slab';
            font-family: 'Montserrat SemiBold';
            color: $grey-primary;
            margin: 8px 2px;
            padding: 0;
            border: none;
            background: transparent;
            outline: none;
            @include border-radius(0px);
            cursor: pointer;
            padding: 5px 16px;
            @include transition(all 0.3s ease 0s);
        }
        .is-checked {
            // border-bottom: 2px solid $yellow-primary;
            color: #fff;
            background: $yellow-primary;
        }
        &:hover {
            span {
                background: $yellow-primary;
                color: #fff;
            }
        }
    }
}
.project-items {
    .item {
        figure {
            position: relative;
            .info {
                position: absolute;
                top: 30px;
                left: 30px;
                width: calc(100% - 60px);
                background: #fff;
                border-left: 4px solid $yellow-primary;
                padding: 22px 30px;
                opacity: 0;
                -webkit-backface-visibility: hidden;
                -moz-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform-origin: 0 0;
                -moz-transform-origin: 0 0;
                transform-origin: 0 0;
                @include transform(rotateY(-90deg));
                -webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
                -moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
                transition: transform 0.4s, opacity 0.1s 0.3s;
                z-index: 99;
                .title {
                    margin-bottom: 5px;
                }
    
            }
            &:hover {
                .info {
                    opacity: 1;
                    @include transform(rotateY(0deg));
                    -webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
                    -moz-transition: -moz-transform 0.4s, opacity 0.1s;
                    transition: transform 0.4s, opacity 0.1s;
                }
            }
        }
    }
}
.grid-sizer {
    width: 50px;
}
.projects-masonry-2 {
    .projects-masonry  {
        margin-bottom: 0px;
        // counter-reset: item;
        margin-left: -10px;
        margin-right: -10px;
        .grid-sizer, .item{
            width: 25%;
        } 
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        .item--with-2 {
            width: 50%;
        }
        .item {
            float: left;
            margin-bottom: 10px;
            padding: 0 5px;
        }
    }
}
.projects-masonry  {
    counter-reset: item;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 40px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .grid-sizer, .item {
        width: 50%;
    }
    .item {
        float: left;
        margin-bottom: 30px;
        padding: 0 15px;
    }
}
.landing-wrapper {
    overflow: hidden;
}
.home-page {
    padding-left: 115px;
    padding-right: 115px;
}
.landing-content {
    counter-reset: landing-item;

    margin-left: -33px;
    margin-right: -33px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .landing-sizer, .landing-item {
        width: 33.33%;
    }
    .landing-item {
        float: left;
        margin-bottom: 30px;
        text-align: center;
        padding-left: 35px;
        padding-right: 35px;
        a {
            font-family: 'Montserrat SemiBold';
            color: $grey-primary;
            font-size: 22px;
        }
        img {
            @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.2));
            @include transform(scale(1));
            @include transition(transform ease-in 0.3s);
        }
        span {
            display: block;
            padding-top: 40px;
            padding-bottom: 30px;
        }
        &:hover {
            img {
                @include transform(scale(1.1));
            }
            a {
                color: $yellow-primary;
            }
        }
    }
}
.innner-page-content {
    padding-left: 115px;
    padding-right: 115px;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 30px;
    .inner-page-item {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 70px;
        img {
            @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.2));
            @include transform(scale(1));
            @include transition(transform ease-in 0.3s);
            width: 100%;
        }
        &:hover {
            img {

                @include transform(scale(1.1));
            }
        }
    }
}
.landing-footer {
    padding: 120px 0;
    text-align: center;
    .landing-footer-content {
        .footer-first {
            font-family: 'Montserrat Medium';
            text-transform: uppercase;
            font-size: 26px;
            color: #454545;
            background: #fff;
            padding: 3px 21px;
            letter-spacing: 2px;
        }
        .desc {
            color: #fff;
            text-transform: uppercase;
            font-family: 'Montserrat Bold';
            font-size: 35px;
            width: 45%;
            line-height: 1.2;
            margin: 0 auto;
            padding-top: 22px;
            padding-bottom: 27px;
        }
        .footer-rating {
            i {
                font-size: 24px;
                color: $yellow-primary;
                padding-right: 4px;
            }
        }
    }
}
.landing-porfolio {
    h2 {
        color: #fff;
        &:after, &:before {
            border: 1px solid #fff;
        }
        &:before {
            border-width: 1px 0 0 1px;
        }
        &:after {
            border-width: 0 1px 1px 0;
        }
    }
}
.landing-porfolio-content {
    @extend display-flex;
    @include align-items(flex-end);
    padding-left: 115px;
    padding-right: 115px;
    overflow: hidden;
    .landing-porfolio-center {
        margin-left: -216px;
        margin-right: -216px;
        position: relative;
        z-index: 99;
    }
    .bigger {
        position: relative;
        z-index: 9;
    }
    .bigger.landing-porfolio-left {
        margin-left: -216px;
    }
    .bigger.landing-porfolio-right {
        margin-right: -216px;
    }
    .landing-porfolio-item {
        img {
            @include box-shadow(0px 0px 10px 0px rgba(0, 0, 0, 0.2));
            @include transform(scale(1));
            @include transition(transform ease-in 0.3s);
        }
        &:hover {
            img {

                @include transform(scale(1.1));
            }
        }
    }
}
  
  
.projects-grid {
    margin-left: -10px;
    margin-right: -10px;
    &:after {
        content: '';
        display: block;
        clear: both;
    }
    .grid-sizer {
        width: 25%;
    }
    .item {
        width: 25%;
        // padding: 0 5px;
        margin-bottom: 10px;
        padding-left: 5px;
        padding-right: 5px;
        &:first-child, &:last-child {
            width: 50%;
        }

    }
}
.projects-background {
    padding-top: 100px;
    .section-title {
        margin-bottom: 65px;
        h2 {
            font-size: 40px;
            font-family: 'Montserrat Regular';
            text-transform: uppercase;
            font-weight: 400;
            line-height: 1.5;
            padding: 0 40px;
        }
    }
}

.our-team {
    margin-bottom: -40px;
}
.line {
    position: absolute;
    content: '';
    background-color: #f9f9f9;
    background-image: url('../images/bg-pattern-1.png');
    background-repeat: repeat;
    background-position: center center;
    opacity: 0.15;
    z-index: 9;
}
.line1 {
    width: 100%;
    top: 30px;
    left: 0;
    height: 5px;
}
.line2 {
    width: 5px;
    height: calc(100% - 60px);
    top: 50%;
    left: 0;
    @include transform(translateY(-50%));
}
.line3 {
    width: 100%;
    bottom: 30px;
    left: 0;
    height: 5px;
}
.line4 {
    width: 5px;
    height: calc(100% - 60px);
    top: 50%;
    right: 0;
    @include transform(translateY(-50%));
}
.our-team-content {
    .item {
        @extend display-flex;
        @include align-items(center);
        position: relative;
        margin-bottom: 40px;
        figure {
            width: 270px;
            position: relative;
            z-index: 99;
            overflow: hidden;
            img {
                @include transform(scale(1));
                @include transition(all ease-in 0.3s);
            }
        }
        .info  {
            width: calc(100% - 270px);
            position: relative;
            .category {
                padding-top: 6px;
                padding-bottom: 20px;
            }
            .desc {
                margin-bottom: 35px;
            }
        }
        &:hover {
            figure {
                img {
                    @include transform(scale(1.1));
                }
            }
        }
    }
    .item-left {
        text-align: right;
        margin-right: 5px;
        figure {
            @include order(2);
        }
        .info {
            @include order(1);
            padding-right: 40px;
        }
    }

    .item-right {
        margin-left: 5px;
        .info {
            padding-left: 40px;
        }
    }
}

.our-process-content {
    padding-top: 70px;
    .item {
        margin-right: 100px;
        text-align: center;
        &:last-child {
            margin-right: 0px;
        }
        &:nth-child(2n) {
            margin-top: -75px;
            .hexagon {
                .zigzax-line {
                    transform: rotate(-15deg);
                    top: 59%;
                    left: -69%;
                }
            }
        }
        &:first-child {
            .hexagon {
                .zigzax-line {
                    display: none;
                }
            }
        }
        .hexagon {
            position: relative;
            figure {
                overflow: visible;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                img {
                    @include transition(transform ease 0.3s);
                }
            }
            &:hover {
                figure {
                    img {
                        @include transform(scale(1.2));
                    }
                }
            }
        }

        .zigzax-line {
            position: absolute;
            content: '';
            top: 40%;
            left: -69%;
            background-image: linear-gradient(to right, rgb(179, 179, 179) 50%, white 50%);
            background-position: top;
            background-size: 8px 1px;
            background-repeat: repeat-x;
            width: 72%;
            height: 1px;
            transform: rotate(14deg);
        }
        .info {
            padding-top: 25px;
        }
    }
    .our-process-list {
        // width: 1235px;
        @extend display-flex;
        @include justify-content(center);
    }
}

.aboutus-intro {
    position: relative;
    @extend display-flex;
    @include align-items(center);
    margin-bottom: 100px;
    &:last-child {
        margin-bottom: 0px;
    }
    .intro-img {
        width: 555px;
        position: relative;
        z-index: 99;
        img {
            width: 100%;
        }
    }
    .intro-content {
        width: calc(100% - 555px);
        background: #fff;
        padding: 70px 50px;
        .item {
            figure {
                img {
                    @include transition(all ease 0.3s);
                    @include transform(scale(1));
                }
            }
            &:hover {
                figure {
                    img {
                        @include transform(scale(1.2));
                    }
                }
            }
        }
        .about-italic {
            font-size: 20px;
            font-family: 'Montserrat Regular Italic';
            color: $black-title;
            margin-bottom: 2px;
        }
        .aboutus-bold {
            font-size: 35px;
            font-family: 'Montserrat SemiBold';
            color: $black-title;
            margin-bottom: 25px;
            span {
                text-transform: uppercase;
            }
        }
        .signature {
            @extend display-flex;
            @include align-items(center);
            padding-top: 30px;
            img {
                margin-right: 35px;
            }
            .signature-text {
                text-align: center;
                span {
                    display: block;
                    &:first-child {
                        font-size: 18px;
                        font-family: 'Montserrat SemiBold';
                        color: $black-title;
                    }
                }
            }
        }
    }
}
.left {
    margin-right: 30px;
    margin-left: -30px;
    figure {
        @include order(2);
        // padding-right: 30px;
    }
    .intro-content {
        @include order(1);
        // padding-left: 50px;
        p {
            margin-bottom: 15px;
        }
    }
}
.right {
    margin-left: 30px;
    margin-right: -30px;
    .intro-content {
        text-align: center;
        padding: 70px 50px 40px 50px;
        .item {
            margin-bottom: 38px;
            .info {
                .title {
                    font-size: 20px;
                    padding-top: 15px;
                    padding-bottom: 8px;
                }
            }
        }
    }
}
.aboutus-intro {
    .line1 {
        top: 40px;
        height: 7px;
    }
    .line3 {
        bottom: 40px;
        height: 7px;
    }
    .line2 {
        height: calc(100% - 94px);
        width: 7px;
    }
    .line4 {
        height: calc(100% - 94px);
        width: 7px;
    }
}
.clients-list {
    margin-left: -30px;
    margin-right: -30px;
}

.our-clients-content {
    .item {
        text-align: center;
        padding: 52px 50px;
        position: relative;
        background: #fff;
        &:after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 7px;
            background-color: #f9f9f9;
            background: url('../images/bg-pattern-1.png');
            background-repeat: repeat;
            background-position: center center;
            opacity: 0.15;
        }
        &:before {
            position: absolute;
            bottom: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 7px;
            background-color: #f9f9f9;
            background: url('../images/bg-pattern-1.png');
            background-repeat: repeat;
            background-position: center center;
            opacity: 0.15;
        }
        .line2, .line4 {
            height: 100%;
            width: 7px;
        }
        figure {
            overflow: visible;
            .client-img {
                width: 132px;
                @include border-radius(50%);
                margin-right: 55px;
                display: inline-block;
                @include transition(all ease 0.5s);
            }
            .client-quote-img {
                margin-bottom: 75px;
                display: inline-block;
            }
        }
        .info {
            .desc {
                padding-top: 23px;
                padding-bottom: 23px;
            }
            .about-client {
                .name {
                    display: inline-block;
                    padding-right: 5px;
                }
                .job-title {
                    padding-left: 5px;
                }
            }
        }
        &:hover {
            figure {
                .client-img {
                    @include transform(scale(1.15));
                }
            }
        }
    }
}

.partner {
    background: #fafafa;
    padding: 70px 0;
}
.partner-content {
    .item {
        img {
            filter: opacity(0.4);
            -webkit-filter: opacity(0.4);
            @include transition(all ease 0.5s);
        }
        &:hover {
            img {
                filter: opacity(1);
                -webkit-filter: opacity(1);
                @include transform(scale(1.15));
            }
        }
    }
    .slick-active {
        img {
            margin:  0 auto;
        }
        &:last-child {
            img {
                float: right;
            }
        }
        &:first-child {
            img {
                float: left;
            }
        }
    }
}
.au-video-button {
    position: relative;
    padding: 0px !important;
    cursor: pointer;
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        // @include transform(translate(-50%, -50%));
        @include border-radius(50%);
        // background: rgba(#fff, 0.2);
        box-shadow: 0 0 0 5px rgba(255,255,255,0.2);
        z-index: 9;
        transform: scale(1);
        -webkit-animation: tm-video-btn-animaion 2s linear infinite;
            animation: tm-video-btn-animaion 2s linear infinite;
    }
    i {
        z-index: 99;
        @include border-radius(50%);
        width: 66px;
        height: 66px;
        background: #fff;
        font-size: 24px;
        color: $yellow-primary;
        @extend display-flex;
        @include justify-content(center);
        @include align-items(center);

    }
}
@-webkit-keyframes tm-video-btn-animaion {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: .75;
    }
    25% {
      -webkit-transform: scale(1.2);
      transform: scale(1);
      opacity: .75;
    }
    100% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  @keyframes tm-video-btn-animaion {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: .75;
    }
    25% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: .75;
    }
    100% {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);
      opacity: 0;
    }
}
.slideshow3 {
    .slideshow-btn {
        color: $grey-primary;
        background: #fff;
        &:after {
            left: 101.5%;
            background: #fff;
        }
        &:hover {
            color: #fff;
            background: $yellow-primary;
            &:after {
                background: $yellow-primary;
            }
            &:before {
                opacity: 0;
            }
        }
    }
}
.projects-flip {
    overflow: hidden;
    position: relative;
    .projects-flip-img-first {
        position: absolute;
        top: 0;
        left: 0;
        // z-index: -9;
    }
    .projects-flip-img-second {
        position: absolute;
        top: 170px;
        right: 0;
    }
}
.projects-flip-content {
    .item {
        padding-left: 113px;
        padding-right: 113px;
        figure {
            overflow: visible;
        }
    }
    .slick-center {
        img {
            @include transform(scale(1.91));
        }
    }
    .slick-list {
        padding: 130px 0px !important;
        margin-left: -50px;
        margin-right: -50px;
    }
}
.project-items {
    .slick-center {
        figure {
            .info {
                top: -100px;
                left: -168px;
                width: calc(100% + 335px);
            }
        }
    }
}
.home-aboutus-content {
    .item {
        text-align: center;
        background: #595959;
        color: #fff;
        padding: 40px 40px 32px;
        position: relative;
        z-index: 9;
        margin: 7px;
        &:after, &:before {
            position: absolute;
            content: '';
            height: calc(100% + 14px);
            width: 7px;
            background-color: #f9f9f9;
            background-image: url(../images/bg-pattern-1.png);
            background-repeat: repeat;
            background-position: center center;
            opacity: 0.15;
            z-index: 99;
            top: -7px;
        }
        &:before {
            right: 100%;
        }
        &:after {
            left: 100%;
        }
        .line1 {
            top: 100%;
            height: 7px;
        }
        .line3 {
            bottom: 100%;
            height: 7px;
        }
        figure {
            width: 116px;
            height: 116px;
            @include border-radius(50%);
            background: #4d4d4d;
            margin: 0 auto;
            img {
                @include transition(transform ease 0.3s);
            }
        }
        &:hover {
            figure {
                img {
                    @include transform(scale(1.2));
                }
            }
        }
        .title {
            color: #fff;
            padding-top: 25px;
            padding-bottom: 8px;
        }
    }
}
.statistics-content {
    position: relative;
    margin-left: -23px;
    margin-right: -23px;
    padding-top: 43px;
    padding-bottom: 65px;
    background: #fff;
    .line {
        height: 7px;
    }
    .line1 {
        top: 0;
    }
    .line3 {
        bottom: 0;
    }
    &:after, &:before {
        position: absolute;
        content: '';
        height: 100%;
        width: 7px;
        background-color: #f9f9f9;
        background-image: url(../images/bg-pattern-1.png);
        background-repeat: repeat;
        background-position: center center;
        opacity: 0.15;
        z-index: 99;
        top: 0px;
    }
    &:before {
        right: 100%;
    }
    &:after {
        left: 100%;
    }
    .item {
        span {
            display: block;
            text-align: center;
        }
        .counterUp {
            font-size: 60px;
            font-family: 'Montserrat Bold';
            color: $black-title;
            position: relative;
            line-height: 1.65;
            &:after {
                content: '+'
            }
            &:before {
                position: absolute;
                content: '';
                width: 45px;
                height: 3px;
                bottom: 0;
                left: 50%;
                @include transform(translateX(-50%));
                background: $yellow-primary;
            }

        }
        .title {
            font-size: 18px;
            padding-top: 20px;
        }
    }
}

.introduce-accordion {
    margin-left: 80px;
    margin-right: 80px;
    background-attachment: fixed;
    .card {
        background-color: transparent;
        border: none;
        border-bottom: 2px solid rgba(255,255,255,0.3);
        @include border-radius(0px);
        cursor: pointer;
        &:after {
            position: absolute;
            content: '';
            width: 0;
            height: 2px;
            background: rgba(255,255,255,0.3);
            top: 118px;
            left: 0;
            @include transition(width ease-in 0.6s);
        }
        &:last-child {
            border-bottom: none;
        }
        .card-header {
            background-color: transparent;
            border-bottom: none;
            padding: 43px 0;
            padding-left: 286px;
            padding-right: 287px;
            // border-bottom: 2px solid rgba(255,255,255,0.3);
            .title {
                font-size: 25px;
                color: #fff;
                position: relative;
                &:before {
                    position: absolute;
                    content: '+';
                    right: 0px;
                    top: 50%;
                    @include transform(translateY(-50%));
                    cursor: pointer;
                    font-size: 35px;
                    font-family: 'Montserrat Regular';
                }
            }
        }
        .card-body {
            color: #fff;
            padding: 50px 0;
            padding-left: 286px;
            padding-right: 287px;
            .body-title {
                font-size: 35px;
                font-family: 'Montserrat SemiBold';
                line-height: 1.2;
            }
            .desc {
                padding-top: 20px;
                padding-bottom: 43px;
            }
            .au-btn {
                color: #fff;
                border: 1px solid #fff;
                &:after {
                    color: #fff;
                    border: 1px solid #fff;
                }
            }
            .body-img {
                padding-left: 18px;
                img {
                    &:first-child {
                        margin-right: 11px;
                        margin-top: 65px;
                    }
                }
            }
        }
        &:hover {
            border-bottom: 2px solid rgba(255,192,0,1);
            &:last-child {
                border-bottom: none;
            }
        }
    }
    .active {
        .card-header {
            .title {
                &:before {
                    content: '-';
                }
            }
        }
        &:after {
            width: 100%;
        }
    }
}

.home-blog-content {
    margin-left: -30px;
    margin-right: -30px;
    .item {
        figure {
            position: relative;
            @include hover-big-img();
            .overlay {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.5);
                z-index: 9;
                transform: scaleX(0);
                transition: all .5s ease;
            }
            &:hover {
                .overlay {
                    transform: scaleX(1);
                }
            }
        }
        .info {
            .title {
                padding-top: 24px;
                line-height: 1.54;
                padding-bottom: 10px;
            }
        }
    }
}
.slideshow4 {
    padding-left: 80px;
    padding-right: 80px;
    .slideshow-btn {
        border: 1px solid transparent;
        background: #fff;
        color: $grey-primary;
        &:after {
            border: 1px solid transparent;
            background: #fff;
            left: 101.5%;
        }
        &:hover {
            color: #fff;
            background: $yellow-primary;
            &:after {
                background: $yellow-primary;
            }
            &:before {
                opacity: 0;
            }
        }
    }
}
.slideshow2 {
    .slideshow-socials {
        padding-left: 80px;
        top: 57.5%;
    }
}
.slideshow3 {
    .slideshow-socials {
        top: 57.5%;
    }
}
.projects-tabs {
    padding-right: 60px;
    padding-bottom: 20px;
    .nav-tabs {
        @include align-items(center);
        border-bottom: none;
        @include justify-content(flex-end);
        li {
            &:first-child {
                width: 90px;
                font-size: 13px;
            }
            width: 28px;
            height: 20px;
            position: relative;
            margin-right: 15px;
            a {
                border-color: transparent;
                padding: 0;
                i {
                    position: absolute;
                    content: '';
                    background: #e6e6e6;
                    width: 100%;
                    height: 100%;
                }
                &:hover {
                    outline: none;
                }
            }
            .active {
                border-color: transparent;
                i {
                    background: $black-title;
                }
            }
            &:focus {
                outline: none;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
        #full-tab, #full-tab-mobile {
            i {
                top: 0;
                left: 0;
            }
        }
        #masonry-tab, #masonry-tab-mobile {
            i {
                &:first-child, &:last-child {
                    width: 18px;
                    height: 9px;
                }
                &:nth-child(2), &:nth-child(3) {
                    width: 8px;
                    height: 9px;
                }
                &:first-child {
                    top: 0;
                    left: 0;
                }
                &:last-child {
                    bottom: 0;
                    right: 0;
                }
                &:nth-child(2) {
                    top: 0;
                    right: 0;
                }
                &:nth-child(3) {
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
    .project-tab-masonry {
        .item {
            margin-bottom: 30px;
        }
    }
}
.page-pull {
    padding-left: 325px;
    padding-top: 130px;
    // padding-bottom: 130px;
    .section-content {
        float: left;
        width: 100%;
        position: relative;
        background: #fff;
        top: 0;
        height: 700px !important;
    }
    .masonrymobile {
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        .item, .item-sizer {
            width: 50%;
        }
        .item {
            float: left;
            margin-bottom: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
    #masonry {
        .grids {
            .item {
                float: left;
                width: 295px;
                height: 300px;
                padding: 30px 15px 0;
                overflow: hidden;
            }
            .item-width-2 {
                width: 456px;
            }
            .item-height-1 {
                height: 660px;
            }
            .item-height-2 {
                height: 360px;
                // margin-top: -30px;
            }
            .item-width-1 {
                width: 405px;
            }
        }
    }
    #full {
        margin-top: 30px;
        .grids {
            width: 100%;
            .item {
                height: 100%;
                width: auto;
                float: left;
                overflow: hidden;
                padding-right: 30px;
                &:last-child {
                    padding-right: 0px;
                }
            }
        }
    }
    .grids {
        height: 660px;
        float: left;
        // width: auto !important;
        &:after {
            content: '';
            display: block;
            clear: both;
        }
        .item {
            cursor: e-resize;
        }
        figure {
            width: 100%;
            height: 100%;
            a {
                cursor: e-resize;
            }
            img {
                float: left;
                width: 100%;
                height: 100%;
                position: relative;
                z-index: 1;
            }
        }
    }
}
.nicescroll-rails-hr {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #f9f9f9;
        background: repeat-x center url('../images/bg-pattern-1.png');
        z-index: 9;
        opacity: 0.2;
    }
    .nicescroll-cursors {
        top: 0px !important;
        z-index: 99;
        // height: 2px !important;
    }
}
.project-full-mobile {
    display: none;
    margin-left: -55px;
    margin-right: -55px;
    .projects-tabs {
        #projectTabmobile {
            padding: 0 5px;
            margin-bottom: 30px;
        }
    }
}
#fullpage {
    .section {
        background: $black-title;
        color: #fff;
        @include background-size(cover);
        position: relative;
        .anchor-text {
            position: absolute;
            color: #fff;
            text-transform: uppercase;
            z-index: 999;
            top: 50%;
            font-family: 'Montserrat SemiBold';
            letter-spacing: 2px;
            @include transform(rotate(-90deg));
        }
        .fp-tableCell {
            padding-top: 60px;
        }
    }
    #welcome {
        .slideshow-socials {
            left: 43px;
        }
        .fp-tableCell {
            padding-top: 0px;
        }
    }
    #experience-section {
        .anchor-text {
            left: -80px;
        }
    }
    #projects-section {
        .anchor-text {
            left: -61px;
        }
    }
    #ourteam-section {
        .anchor-text {
            left: -46px;
        }
    }
    #testimonials-section {
        .anchor-text {
            left: -57px;
        }
    }
    #contact-section {
        .anchor-text {
            left: -28px;
        }
    }
    .welcome-content {
        position: relative;
        .info {
            margin-right: -120px;
            margin-left: 125px;
            position: relative;
            padding: 78px 83px 90px;
            &:after, &:before {
                position: absolute;
                content: '';
                height: calc(100% - 20px);
                width: 10px;
                background-color: #e5e5e5;
                background-image: url('../images/bg-pattern-1.png');
                background-repeat: repeat;
                background-position: center center;
                opacity: 0.1;
                z-index: 99;
                top: 50%;
                transform: translateY(-50%);
            }
            &:after {
                right: 0;
                opacity: 0;
            }
            &:before {
                left: 0;
            }
            .line {
                background-color: #e5e5e5;
                opacity: 0.1;
            }
            .line1 {
                top: 0;
                height: 10px;
            }
            .line3 {
                height: 10px;
                bottom: 0;
            }
            .title {
                font-size: 60px;
                font-family: 'Montserrat Bold';
                color: #fff;
                line-height: 1.17;
                
                .bold {
                    color: $yellow-primary;
                    display: block;
                }
            }
            .desc {
                padding-top: 18px;
                padding-bottom: 65px;
            }
            .au-btn {
                color: #fff;
                border: 1px solid #fff;
                &:after {
                    border: 1px solid #fff;
                }
            }
        }
        figure {
            margin-left: 90px;
            margin-right: -15px;
        }
        figure {
            img {
                width: 100%;
            }
        }
    }
    #experience-section {
        .year-experience-info-title {
            font-size: 36px;
            text-transform: uppercase;
            font-family: 'Montserrat Bold';
            color: #fff;
            line-height: 1.38;
            span {
                color: $yellow-primary;
            }
        }
        p.desc {
            padding-top: 30px;
            padding-bottom: 73px;
        }
        .au-btn {
            color: #fff;
            border: 1px solid #fff;
            &:after {
                border: 1px solid #fff;
            }
        }
        .year-experience-title {
            color: #fff;
        }
        .year-experience-info {
            padding-top: 50px;
            padding-right: 20px;
        }
        .year-experience {
            padding-top: 34px;
            padding-left: 12px;
            .year-experience-number {
                padding-right: 25px;
            }
        }
        .progress-bar {
            padding-left: 25px;
        }
        .au-progress {
            .au-progress-bar {
                p, span {
                    color: #fff;
                }
                span {

                }
            }
            &:after {
                background-color: transparent;
                z-index: 99;
                opacity: 0.1;
            }
            &:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: #fff;
                z-index: 9;
            }
        }
    }
    .our-team-fullpage-content {
        margin-bottom: -30px;
        .item-heading {
            border: 3px solid $yellow-primary;
            padding: 70px 10px 70px 40px;
            h4 {
                color: #fff;
                margin-bottom: 15px;
            }
        }
        .item {
            position: relative;
            margin-bottom: 30px;
            .info {
                position: absolute;
                width: calc(100% - 34px);
                height: 0;
                top: 50%;
                left: 50%;
                @include transform(translate(-50%, -50%));
                background: $yellow-primary;
                @include flex-direction(column);
                @include transition(all 0.3s ease);
                opacity: 0;
                .category {
                    color: $black-title;
                    margin-top: 5px;
                    margin-bottom: 15px;
                }
                .socials {
                    li {
                        margin-right: 20px;
                        &:last-child {
                            margin-right: 0px;
                        }
                        a {
                            color: $black-title;
                        }
                    }
                }
            }
            &:hover {
                .info {
                    opacity: 1;
                    height: calc(100% - 34px);
                }
            }
        }
    }
    .testimonials-fullpage-img {
        // float: left;
        position: relative;
        z-index: 99;
        // margin-left: -70px;
        margin-right: -48px;
    }
    .testimonials-fullpage {
        margin-right: 210px;
        .item {
            position: relative;
            &:after, &:before {
                position: absolute;
                content: '';
                height: calc(100% - 198px);
                width: 10px;
                background-color: #e5e5e5;
                background-image: url('../images/bg-pattern-1.png');
                background-repeat: repeat;
                background-position: center center;
                opacity: 0.1;
                z-index: 9;
                top: 50%;
                transform: translateY(-50%);
            }
            &:after {
                right: 0;
            }
            &:before {
                left: 0;
            }
            .line3 {
                bottom: 90px;
                 
            }
            .line1 {
                top: 90px;
            }
            .line {
                background-color: #e5e5e5;
                opacity: 0.1;
                height: 10px;
            }
        }
    }

    .testimonials-fullpage-content {
        @extend display-flex;
        @include align-items(center);
        height: 100%;
        // margin-top: -60px;
        margin-top: -54px;
        padding-left: 108px;
        padding-right: 70px;
        .icon-quote {
            position: absolute;
            left: -67px;
            top: -5px;
            z-index: 99;
        }
        .info {
            position: relative;
            h5 {
                color: #fff;
                margin-bottom: 3px;
            }
            .job-title {
                color: #ccc;
            }
            p.desc {
                margin-bottom: 13px;
            }
        }
        .about-client {
            margin-top: 40px;
        }
    }
    #contact-section {
        .contact-us  {
            color: #e5e5e5;
            h2 {
                color: #fff;
            }
        }
        .common-form {
            label {
                color: #fff;
            }
            input, textarea {
                border-bottom: 1px solid #ccc;
                color: #fff;
            }
            .form-submit {
                .submit {
                    border: 1px solid #fff;
                    color: #fff;
                }
                &:after {
                    border: 1px solid #fff;
                }
            }
        }
    }
}
#fp-nav.right {
    right: 50px;
    ul {
        li {
            width: 10px;
            height: 10px;
            margin: 30px;
            a {
                &:after, &:before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    opacity: 0;
                    border: 1px solid #fff;
                    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                    transition: transform 0.3s, opacity 0.3s;
                    -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
                    transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
                }
                &:before {
                    top: -15px;
                    right: 7px;
                    border-width: 1px 1px 0 0;
                    -webkit-transform: translate3d(10px, 10px, 0);
                    transform: translate3d(10px, 10px, 0);
                }
                &:after {
                    left: 5px;
                    bottom: -13px;
                    border-width: 0 0 1px 1px;
                    -webkit-transform: translate3d(-10px, -10px, 0);
                    transform: translate3d(-10px, -10px, 0);
                }
                span {
                    width: 100%;
                    height: 100%;
                    background: transparent;
                    border: 1px solid #fff;
                    @include border-radius(0px);
                    margin: 0;
                    top: 0;
                    left: 0;
                    &:before, &:after {
                        content: '';
                        position: absolute;
                        width: 6px;
                        height: 6px;
                        opacity: 0;
                        border: 1px solid #fff;
                        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                        transition: transform 0.3s, opacity 0.3s;
                        -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
                        transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
                    }
                    &:before {
                        right: 4px;
                        bottom: 4px;
                        border-width: 0 1px 1px 0;
                        -webkit-transform: translate3d(10px, 10px, 0);
                        transform: translate3d(10px, 10px, 0);
                    }
                    &:after {
                        right: -4px;
                        bottom: -4px;
                        border-width: 1px 0 0 1px;
                        -webkit-transform: translate3d(-10px, -10px, 0);
                        transform: translate3d(-10px, -10px, 0);
                    }
                }
            }
            .active {
                &:before, &:after {
                    opacity: 1;
                }
                span {
                    background: #fff;
                    margin: 0px;
                    width: calc(100% - 2px);
                    height: calc(100% - 2px);
                    &:before, &:after {
                        opacity: 1;
                    }
                }
            }
            &:hover {
                a {
                    &:before, &:after {
                        opacity: 1;
                    }
                    span {
                        background: #fff;
                        width: calc(100% - 2px);
                        height: calc(100% - 2px);
                        &:before, &:after {
                            opacity: 1;
                        }
                    }
                }
                .active {
                    span {
                        background: #fff;
                        width: calc(100% - 2px);
                        height: calc(100% - 2px);
                        margin: 0px;
                        @include border-radius(0px);
                    }
                }
            }
            .fp-tooltip.right {
                right: 80px;
                top: -7px;
                font-size: 13px;
                font-family: 'Montserrat Regular Italic';
                overflow: visible;
                &:after {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 1px;
                    background: rgba(255,255,255,0.5);
                    top: 50%;
                    right: -26px;
                    transform: translateY(-50%);
                }
            }
        }
    }
}
.tp-bullets {
    .tp-bullet {

        .numbers {
            color: #fff;
            float: left;
            display: none;
            position: absolute;
        }
    }
    .tp-bullet.selected {
        background: #fff;
        .numbers {
            display: block;
        }
    }
}
#projects-section {
    @include transition(background ease-in 0.4s);
}

.projects-border-grid {
    .project-item {
        position: relative;
        &:after {
            position: absolute;
            content: '';
            width: 1px;
            height: 30px;
            background: #e5e5e5;
            right: 0;
        }
        &:nth-child(1),  &:nth-child(2), &:nth-child(3), &:nth-child(4) {
            &:after {
                bottom: 100%;
            }
        }
        &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
            &:after {
                top: 100%;
            }
        }
        &:nth-child(1), &:nth-child(5) {
            &:before {
                position: absolute;
                content: '';
                width: 1px;
                height: 30px;
                background: #e5e5e5;
                left: -1px;
            }
        }
        &:nth-child(1) {
            &:before {
                bottom: 100%;
            }
        }
        &:nth-child(5) {
            &:before {
                top: 100%;
            }
        }
        &:nth-child(1), &:nth-child(5), &:nth-child(8), &:nth-child(4) {
            .item {
                &:after {
                    position: absolute;
                    content: '';
                    width: 30px;
                    height: 1px;
                    background: #e5e5e5;
                    bottom: -1px;
                }
            }
        }
        &:nth-child(1), &:nth-child(5) {
            .item {
                &:after {
                    right: 100%;
                }
            }
        }
        &:nth-child(4), &:nth-child(8) {
            .item {
                &:after {
                    left: 100%;
                }
            }
        }
        &:nth-child(1), &:nth-child(4) {
            .item {
                &:before {
                    position: absolute;
                    content: '';
                    width: 30px;
                    height: 1px;
                    background: #e5e5e5;
                    top: -1px;
                }
            }
        }
        &:nth-child(1) {
            .item {
                &:before {
                    right: 100%;
                }
            }
        }
        &:nth-child(4) {
            .item {
                &:before {
                    left: 100%;
                }
            }
        }
    }
    .item {
        position: relative;
        padding: 114px 0;
        .info {
            position: absolute;
            text-align: right;
            right: 25px;
            bottom: 25px;
            z-index: 99;
            a {
                color: #fff;
            }
            h6 {
                padding-bottom: 3px;
            }
        }
        .overlay {
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba(0,0,0,0.2);
            z-index: 9;
            @include transform(scale(0));
        }
        &:hover {
            .overlay {
                @include transform(scale(1));
            }
            h6 {
                a {
                    color: $yellow-primary;
                }
            }
        }
    }
    .all-projects {
        margin-left: -15px;
        margin-right: 45px;
        text-align: right;
    }
    .au-btn {
        color: #fff;
        border: 1px solid #fff;
        margin-top: 70px;
        &:after {
            border: 1px solid #fff;
        }
    }
}
  
  
