.shop-content {
    .spendora-sorting {
        margin-bottom: 30px;
        .spendora-ordering {
            select {
                border: 1px solid #e5e5e5;
                color: $grey-primary;
                padding: 12px 20px;
                background: 0 0;
                z-index: 1;
            }
        }
    }
    .products-list {
        margin-bottom: 25px;
    }
}
.product-item {
    margin-bottom: 36px;
    figure {
        position: relative;
        overflow: hidden;
        .image-cover, .image-secondary {
            @include transition(all .3s linear);
        }
        .image-secondary {
            transform: translateX(-150%);
            position: absolute;
            top: 0;
            left: 50%;
        }
        .new, .onsale {
            position: absolute;
            top: 0;
            right: 0;
            text-transform: uppercase;
            color: #fff;
            width: 56px;
            height: 27px;
            @extend display-flex;
            @include justify-content(center);
            @include align-items(center);
        }
        .new {
            background: $black-title;
        }
        .onsale {
            background: $yellow-primary;
        }
        .woocommerce-add-to-cart {
            position: absolute;
            width: 100%;
            height: 45px;
            background: $black-title;
            bottom: 0;
            left: 0;
            @include transform(translateY(45px));
            @extend display-flex;
            @include justify-content(center);
            @include align-items(center);
            transition:  transform ease-in 0.3s;
            a {
                color: #fff;
                font-family: 'Montserrat SemiBold';
                text-transform: uppercase;
                @extend display-flex;
                @include align-items(center);
                i {
                    font-size: 22px;
                    padding-left: 10px;
                }
            }
        }
    }
    .info {
        padding-top: 23px;
        .product-title-price {
            @extend display-flex;
            @include justify-content(space-between);
            @include align-items(center);
        }
        .woocommerce-loop-product__title a {
            font-size: 20px;
            font-family: 'Montserrat SemiBold';
            color: $black-title;
        }
        .product-category {
            color: $grey-primary;
        }
        .price {
            ins {
                text-decoration: none;
            }
        }
    }
    &:hover {
        figure {
            .woocommerce-add-to-cart {
                // width: 100%;
                @include transform(translateY(0px));
            }
            .image-secondary {
                transform: translateX(-50%);
            }
        }
        .info {
            .woocommerce-loop-product__title a, .price {
                color: $yellow-primary;
            }
        }
    }
}
.price {
    font-size: 20px;
    font-family: 'Montserrat SemiBold';
    color: $black-title;
}